header {
    height: 120px;
    background-color: #ffd500;
    font-size: 4rem;
    padding: 0;
}

header i {
    font-size: 4rem;
}

main {
    background-color: rgba(234, 234, 228, 0.826);
}

.card {
    height: 100%;
}

.card img {
    padding: 1rem;
    height: 320px;
}
